<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>904705287138-56ek9i0b5q8dfq8jbvsm12c1jv3ul0tn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.904705287138-56ek9i0b5q8dfq8jbvsm12c1jv3ul0tn</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>904705287138-1admsi9adrbnk2cpsaaljp0iu6no0m3f.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAKgeqflRSRk7_LpZHpp_zk8nOg1o-N0H8</string>
	<key>GCM_SENDER_ID</key>
	<string>904705287138</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.wooksPublicGallery</string>
	<key>PROJECT_ID</key>
	<string>public-gallery-c1b02</string>
	<key>STORAGE_BUCKET</key>
	<string>public-gallery-c1b02.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:904705287138:ios:31b5dea454f27dcef88fbb</string>
</dict>
</plist>